<div class="title">
  <h1>{{title}}</h1>
  {{#if updated}}
    Updated {{updated}}
  {{/if}}
  <a href="/books"><h2>NYT Best Sellers</h2></a>
  <a href="/news"><h2>Top News Stories</h2></a>
</div>

{{#if books}}
  {{#each books}}
    <a href="{{this.amazon_product_url}}">
      <article class="item" style="background-image: url({{this.book_image}});">
        <div class="text">
          <h2>{{this.title}}</h2>
          <h3>by <strong>{{this.author}}</strong></h3>
        </div>
      </article>
    </a>

  {{/each}}
{{/if}}

{{#if news}}
  {{#each news}}
    <a href="{{this.url}}">
      <article class="item" style="background-color: gray">
        <div class="text">
          <h2>{{this.title}}</h2>
          <p class='date'>
            Updated {{this.updated_date}}
          </p>
          <p>
            {{this.abstract}}
          </p>
        </div>
      </article>
    </a>
  {{/each}}
{{/if}}
